.daily-tabs {
  background-color: #343434;
  min-width: 250px;
  padding: 10px; }

.daily-tabs-options {
  min-width: 1000px;
  padding: 10px; }

.hide {
  display: none; }

#open-tabs {
  width: 100%; }

label {
  color: #fcfcfc; }
  label select {
    color: #333;
    margin-bottom: 10px; }
