.smart-news-brunch {
  background-color: $background-color;
  min-width: 400px;
  padding: 10px;
}

label {
  color: $foreground-color;

  select {
    color: $foreground-color--dark;
    margin-bottom: 10px;
  }

}
