.dayli-tabs {
  background-color: $background-color;
  min-width: 250px;
  padding: 10px;
}

.dayli-tabs-options {
  min-width: 1000px;
  padding: 10px;
}

.hide {
  display: none;
}

#open-tabs {
  width: 100%;
}

label {
  color: $foreground-color;

  select {
    color: $foreground-color--dark;
    margin-bottom: 10px;
  }

}
